OPENAI_API_KEY=sk-your-key
OPENAI_BASE_URL=https://api.openai.com/v1
AGENT_MODEL=gpt-4o-mini

REDIS_URL=redis://localhost:6379/0
DATABASE_URL=sqlite+aiosqlite:///./data/clinic.db

DEEPGRAM_API_KEY=558c16f28ce0d2a5edc833fcd800d6266f37970a
ELEVENLABS_API_KEY=sk_d4767a5dea8ddd63d0c108dec2a0e670d68ef5d44c058024

SESSION_TTL_SECONDS=3600
PATIENT_MEMORY_TTL_SECONDS=7776000
